/* Variables */

/*:root  {
--gradient:linear-gradient(
45deg,
#845ec2,
#d65db1,
#ff6f91,
#ff9671,
#ffc75f,
#f9f871,
);
}*/


body {
	font-family:basic-sans, sans-serif;
	min-height:100vh;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 1.125rem;
	line-height: 1.6; 
	color:#333;
	box-shadow: var(--shadow);
	background:url("./images/Untitled\ design\ \(3\).png");
	background-size: cover;
	background-repeat:no-repeat;
	overflow: hidden;
	
	



}

@media only screen and (max-width: 500px) {
	body {
		background:url("./images/Untitled\ design\ \(3\).png");
	}
  }




.fun1{
	background-color: #f1f9ef;
	border-radius: 14px;



}








 :root {

	--primary: #116270;
	--business: #3a82ee;
	--personal: var(--primary);
	--dark: #313154;
	--danger: #ff5b57;
	  --color1: #845ec2;
       --color2  :#d65db1;
      --shadow: 6px 6px 6px grey;
	--business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(243, 85, 177, 0.75);
}
/* End of Variables */

/* Resets */
* {
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}

 

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}
/* End of Resets */

section {
	
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h3 {
	color: var(--dark);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

h4 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.greeting .title {
	display: flex;
}

.greeting .title input {
	margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
}

.greeting .title, 
.greeting .title input {
	
		color:#845ec2, #d65db1;
		
		font-size: 1.5rem;
		font-weight: 700;
	}

	.create-todo input[type="text"] {
		display: block;
		width: 100%;
		font-size: 1.125rem;
		padding: 1rem 1.5rem;
		color: white;
		background-color: #221c1c;
		border-radius: 0.5rem;
		box-shadow: var(--shadow);
		margin-bottom: 5.5rem;
		font-weight: 700;
	}

.create-todo .options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.create-todo .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color:rgb(243 219 219);
	padding: 0.5rem;
	box-shadow: var(--shadow);
	border-radius: 0.5rem;
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid #83e165;
	box-shadow: var(--business-glow);
}

.bubble.personal {
	border-color: #bd74cf;
	box-shadow: var(--personal-glow);
}

.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--business);
	box-shadow: var(--business-glow);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

.bubble.personal::after {
	background-color: var(--personal);
	box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.create-todo .options label div {
	color: var(--dark);
	font-size: 1.125rem;
	margin-top: 1rem;
}

.create-todo input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	box-shadow: var(--personal-glow);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}

.create-todo input[type="submit"]:hover {
	opacity: 0.75;
}

.todo-list .list {
	margin: 1rem 0;
}

.todo-list .todo-item {
	display: flex;
	align-items: center;
	color:  #FFF;
	background-color: #221c1c;
	padding: 0.7rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
	font-weight: 700;
}

.todo-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-item .todo-content {
	flex: 1 1 0%;
}

.todo-item .todo-content input {
	color:  #FFF;
	font-weight: 700;
	font-size: 1.125rem;
}

.todo-item .actions {
	display: flex;
	align-items: center;
}

.todo-item .actions button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
	opacity: 0.75;
}

.todo-item .actions .edit {
	margin-right: 0.5rem;
	background-color: var(--primary);
}

.todo-item .actions .delete {
	background-color: var(--danger);
}

.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: var(--grey);
}